services:
  postgres:
    container_name: kupi-database
    image: postgres:17-alpine
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    container_name: kupi-backend
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "4000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped

  frontend:
    container_name: kupi-frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - frontend

volumes:
  postgres_data:

networks:
  frontend:
  backend:
